.container1{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    width: 500px;
    background:rgba(128, 128, 128, 0.815);
    padding-bottom:30px ;
    border-radius: 50px;
}
.header1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;

}
.text1{
    color: black;
    font-size: 40px;
    font-weight: 700;
}


.input1{
    display: flex;
    align-items: center;
    margin: auto;
    width: 450px;
    height: 50px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 6px;
    

}

.submit1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    color: #fff;
    background: black;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    margin: 30px auto;
    font-family: 'Times New Roman', Times, serif;

}
.inputs1{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.input1 input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}
