.marquee{
    font-size: 35px;
    color: rgb(5, 5, 5);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 50px;
    text-align: center;
}  
  .image-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
  margin-bottom: 50px;
    
  }
  
  .image {
    width: 280px;
    height: 150px;
    cursor: pointer;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.2s;
    
  }
  
  .image:hover {
    transform: scale(1.10);
  }
 

  





