.nev{
background-color: rgba(13, 14, 14, 0.643);
padding: 20px 40px 20px 20px ;
text-align: right;
font-family: 'Times New Roman', Times, serif;
margin-bottom: 20px;

}
.h3{
    color:yellow;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}
